.imgGrid{
    overflow: hidden;
    height: 0;
    padding: 100px 0;
    position: relative;
    opacity: 0.8;
    margin: 20px;
}
.imgGrid img{
    min-width: 50%;
    min-height: 50%;
    max-width: 50%;
    position: absolute;
    top:0;
    left: 0;
}